<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Good Blogger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="d-class flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h3 class="navbar-brand" href="/">The Good Blogger</h3>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            {{#if loggedIn}}
                            <a class="nav-link active" id="logout">Logout</a>
                            {{else}}
                            <a class="nav-link active" href="/login">login</a>
                            {{/if}}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        {{{ body }}}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <h5 class="text-muted">Thanks for visiting!!!</h5>
        </div>
    </footer>
</body>

</html>