<article>
    {{> post-info post}}

    <form class="comment-form">
        <div class="mb-3">
            <label for="comment-input" class="form-label">Comment</label>
            <textarea type="text" class="form-control" id="comment-input"></textarea>
        </div>
        <input type="submit" class="btn btn-primary comment-btn" id="comment-input">
    </form>

    <br>

    <div class="container">
        {{> comments post.comments}}
    </div>
</article>

<script src="/javascript/comment.js"></script>